.main-container {
  background-color: #fafafa;
  height: 100vh;
  flex: 1;
  flex-direction: column;
  padding: 0 90px;
  overflow-y: scroll;
}

h2 {
  color: #0a0a0a;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
}

.manage {
  color: #055fd3;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width: 100%;
}

.title-button {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.cards-container {
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  flex-wrap: wrap;
}
