.header-container {
  background-color: #ffffff;
  height: 65px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-style: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.button {
  color: #a0a0a0;
  height: 50px;
  width: 50px;
  padding: 8px;
  margin: 0 16px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
}

.button > i {
  margin-right: 0;
}

button {
  border: 0;
  color: #a0a0a0;
  cursor: pointer;
  outline: none;
}

.logo {
  display: flex;
  align-items: center;
  height: 65px;
  width: 130px;
}

.logo > img {
  display: block;
  height: 100%;
  width: 100%;
}

.country-code {
  font-size: 10px;
  margin-bottom: 15px;
  margin-left: -10px;
  font-family: "Roboto", sans-serif;
}

.searchBar-container {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 40px;
  justify-content: center;
  height: 40px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 640px;
}

.search input {
  height: 35px;
  border: 1px solid #cccccc;
  border-right: 0;
  padding-left: 12px;
  width: 640px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  font-weight: 400;
}

.search-button > button {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  height: 39px;
  width: 80px;
  cursor: pointer;
}

.search-button :hover {
  background-color: #f0f0f0;
}

.search-button > button > i {
  color: #bebebe;
  padding-left: 15px;
}

.search-button > button > i :hover {
  background-color: #333333;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
