.avatar {
  border: 0;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 6px;
  width: 90px;
}

.avatar > img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
